{% load static %}


<hr>
<div class="background">




    <div class="apropos">

        <div class="zoom">
            <div class="image">
                <img class="apropos-image" src="{% static 'images/PortraitSamuel.jpg' %}" alt="">
            </div>
        </div>

        <div id="table">
            <div id="centeralign">
                <h2 id="apropos-title">A propos de moi :</h2>
                <p class="apropos-content">Après six années à travailler en tant qu’Educateur Spécialisé dans le champ
                    de
                    la
                    protection de l’enfance, je ressens le réel besoin de me reconvertir dans le domaine de
                    l’informatique.
                    J'ai
                    donc rejoins le Campus Academy de Nantes, après m'être initié à divers languages informatiques en
                    autodidacte.
                    Ce site me permettera de vous présenter mon CV, ainsi que les différents projets que j'ai pu
                    effectuer,
                    qu'ils
                    soient personnels ou professionnels. Vous pourrez bien évidemment me contacter via ce site, sans
                    oublier
                    de me
                    laisser une recommandation si vous avez été satifsait de notre collaboration.
                </p>
            </div>

        </div>



    </div>
    <div class="buttons">
        <div class="button1" onclick="affichebutton1()">mes compétences</div>


        <a target="_blank" href="{% static 'images/CV_Samuel_Wroblewski.pdf' %}">
            <img src="{% static 'images/logoCV.png' %}" alt="" class="logoCV">
        </a>
        <div class="button2" onclick="affichebutton2()">mes expériences</div>
    </div>

    <div id="competences-container">
        <h3 class="competences-title">N'ayant pas la prétention de me noter,<br> ces compétences informatiques sont
            triés
            par ordre de
            préférences.
        </h3>
        <div class="competences-contents">
            <div class="language">
                <ul>
                    <h4>Languages informatiques</h4>
                    <li>Python</li>
                    <ul>Django</ul>
                    <li>PHP</li>
                    <ul>Curl</ul>
                    <li>Html / Css</li>
                    <ul>Bootstraap</ul>
                    <ul>Material</ul>
                    <li>Javascript</li>
                    <ul>Jquerry</ul>
                    <ul>Ajax</ul>
                    <ul>NodeJS</ul>
                    <li>Angular</li>
                    <li>Java</li>
                    <li>C#</li>
                </ul>
            </div>

            <div class="database">
                <ul>
                    <h4>Gestion base de données</h4>
                    <li>Mysql</li>
                    <li>PostreSQL</li>
                </ul>
            </div>

            <div class="versionning">
                <ul>
                    <h4>Outil de versionning</h4>
                    <li>Git</li>
                    <ul>Gitlab</ul>
                    <ul>Github</ul>
                    <li>Jenkins</li>
                </ul>
            </div>


            <div class="os">
                <ul>
                    <h4>Systeme d'exploitation</h4>
                    <li>Linux</li>
                    <ul>Ubuntu</ul>
                    <li>Windows</li>
                </ul>
            </div>
            <div class="transerval">
                <ul>
                    <h4>Compétences transverses</h4>
                    <li>Travail en équipe</li>
                    <li>Accompagnement</li>
                    <li>Adaptation</li>
                    <li>Communication</li>
                    <li>Prise d'initative</li>
                    <li>Organisation</li>
                    <li>Travail dans l'urgence</li>
                    <li>Interdisciplinarité</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="experience-container">
        <h2 class="experience-title"> Voici l'ensemble de mon parcours Scolaire et Professionnel : </h2>

        <h4> 2020 - 2021</h4>
        <p> Etudiant en Bachelor 2 au Campus academy de Nantes</p>
        <p>Role de délégué</p>
        <hr>
        <h4>2019 - 2020</h4>
        <p> Etudiant en Bachelor 1 au Campus academy de Nantes</p>
        <hr>
        <h4>Mai - Juillet 2019</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein de SOS Village d'Enfant à Nantes(44)</p>
        <ul>
            <li>Adaptation au fonctionnement d'un village d'enfant</li>
            <li> Fonction de repère pour les maitresses de maisons </li>
            <li> Référence éducative</li>
            <li>Accompagnement au deuil</li>
            <li>Gestion de crise</li>
            <li>Aide à la préparation des vacances</li>
        </ul>
        <hr>
        <h4>Juillet - Septembre 2018</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein de l'association Notre Dame de Bethleem à Nantes(44)
        </p>
        <ul>
            <li>Adaptation au fonctionnement de la maison d'enfant</li>
            <li>Support Educatif</li>
            <li>Gestion de vie quotidienne</li>
        </ul>
        <hr>
        <h4>Juillet - Septembre 2018</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein de la maison d'enfant de Saint Vincent de Paul à
            Nantes(44)
        </p>
        <ul>
            <li>Reprise de fonction dans ce foyer</li>
            <li>Support éducatif</li>
            <li>Aide au devoirs</li>
        </ul>
        <hr>
        <h4>Octobre - Decembre 2017</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein du Centre d'Hebergement et Réinsertion sociale (CHRS)
            de l'ANEF-Ferrer à Nantes(44)</p>
        <ul>
            <li>Adapation au travail en CHRS</li>
            <li>Accompagnement Educatif a la réinsertion</li>
            <li>Accompagnement Administratif</li>
            <li>Accompagnement à la recherche d'emplois</li>
            <li>Gestion de crise</li>
            <li>Travail avec multiples partenaires </li>
        </ul>
        <hr>
        <h4>Juillet - octobre 2017</h4>
        <p> Remplacement Educateur Spécialisé au sein de la maison d'enfant de Saint Vincent de Paul à Nantes (44)</p>
        <ul>
            <li>Adapation de l'organisation de la maison d'enfant</li>
            <li>Organisation d'activités durant les vacances</li>
            <li>Participation aux séjours avec groupe d'enfants</li>
            <li>Organisation de la rentrée des classes</li>
        </ul>
        <hr>
        <h2>Juillet 2017 : Enmenagement a Nantes</h2>
        <hr>
        <h4>Juin 2016 - Janvier 2017</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein du foyer pour jeune femme de l'ANEF à Lyon (69)</p>
        <ul>
            <li>Adapation de l'organisation d'un foyer pour jeunes femme</li>
            <li>Accompagnement Educatif a la réinsertion</li>
            <li>Accompagnement Administratif</li>
            <li>Support Educatif</li>
            <li>Gestion de vie quotidienne</li>
            <li>Prise en charge de références</li>
        </ul>
        <hr>

        <h2> Mars 2016 : Enmenagement a Lyon(44)</h2>
        <hr>
        <h4>Aout 2014 - Aout 2015</h4>
        <p> Educateur Spécialisé au sein du foyer Bois renard à Saint-Prix (95) </p>
        <ul>
            <li>Adapation de l'organisation du foyer en crise a mon arrivée</li>
            <li>Participation à l'apaisement du foyer</li>
            <li>Support Educatif</li>
            <li>Gestion de vie quotidienne</li>
            <li>Prise en charge de références</li>
            <li>Accompagnement au deuil</li>
            <li>Gestion de crise</li>
        </ul>
        <hr>

        <h4>Mai 2014 - Juillet 2014</h4>
        <p> Remplacement en tant qu'Educateur Spécialisé au sein de la maison d'enfant Bayard Joly à Argenteuil(95)</p>
        <ul>
            <li>Adapation de l'organisation de la maison d'enfant </li>
            <li>Support Educatif</li>
            <li>Gestion de vie quotidienne</li>
            <li>Gestion de crise</li>
        </ul>

        <h2> Avril 2014 : Enmenagement à Butry sur Oise(95)</h2>
        <hr>
        <h4>Decembre 2013</h4>
        <p>Enqueteur pour la TAM </p>
        <hr>
        <h4>Decembre 2013</h4>
        <p>Livreur de Pizza</p>
        <hr>
        <h2> Novembre 2013 : Enmenagement a Montpellier</h2>
        <hr>
        <h4>Novembre 2011 - octobre 2013</h4>
        <p> Educateur Spécialisé au sein Du foyer pré-professionnel Aristide Briand à Gagny(93)</p>
        <ul>
            <li>Adapation de l'organisation du foyer</li>
            <li>Support Educatif</li>
            <li>Gestion de vie quotidienne</li>
            <li>Gestion de crise</li>
            <li>Support Educatif</li>
            <li>Accompagnement Administratif</li>
            <li>Accompagnement à la recherche d'emplois</li>
            <li>Travail avec multiples partenaires </li>
        </ul>
        <hr>
        <h4> 2008 - 2011</h4>
        <p>Formation d'éducateur Spécialisé à Buc Ressources(92)</p>
        <hr>
        <h4> 2006 - 2011</h4>
        <p>Multiples emplois d'animateurs durant les périodes scolaires</p>
        <hr>
        <h4> Juillet 2007</h4>
        <p>Obtention du Bac Economique et Social</p>

    </div>




</div>


</div>
<script type="text/javascript" src="{% static 'js/apropos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.js' %}"></script>