{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">





        <title>header</title>
    </head>

    <body>
        <header>
            <div class="navbarre">
                <div class="logo-nav">SW</div>


                <div class="menu-buttons">

                    <div> <a href=""> Accueil</a> </div>
                    <div> <a href="#apropos-title"> A propos</a> </div>
                    <div> <a href="#project-title">Projets</a> </div>
                    <div> <a href="">Contactez Moi</a></div>
                </div>

            </div>
        </header>
        <div class="wrapper">

            {% include "home.html" %}
            {% include "apropos.html" %}
            {% include "projects.html" %}

        </div>
        <!-- -->
        <div id="id"></div>
    </body>




</html>