{% load static %}





<section class="presentation">
    <h1 class="presentation-content">Bonjour, je m'appelle <strong>Samuel Wroblewski</strong> <br> et je suis : </h1>




    <div class="content-slider">
        <div class="slider">
            <div class="mask">
                <ul>
                    <li class="anim1">
                        <div class="quote">En reconversion</div>
                    </li>
                    <li class="anim2">
                        <div class="quote">Passionné</div>
                    </li>
                    <li class="anim3">
                        <div class="quote">Motivé</div>
                    </li>
                    <li class="anim4">
                        <div class="quote">Curieux</div>
                    </li>
                    <li class="anim5">
                        <div class="quote">En recherche d'alternance</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <img class="arrow" src="{% static 'images/bot-arrow.png' %}" alt="">
</section>