{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>header</title>
    </head>

    <body>

        <div class="wrapper">

            <h1 id="project-title">Mes différents projets </h1>
            <p class="title-content">Voici une liste de certains projets qu'il me semble intéressant a vous montrer,
                certains ne
                sont pas achevés, mais
                ils peuvent montrer l'évolution de développeur. </p>

            <div class="cards">
                <div class="card1">
                    <img class="card-image" src="{% static 'images/BAML.png' %}" alt="">
                    <div class="card-content">
                        <p>Création d'une application Web permettant de faire des prédictions grâce a
                            l'Intelligence
                            Artificielle de la librairie de ScikitLearn (Python) à partir d'un jet de donné en
                            CSV.
                            Ce projet est mis en place sur le framework Django du language python, et est basé
                            sur
                            méthodologie
                            Agile / Scrum .J'ai travaillé en Front-end sur la création du site web, ainsi qu'en
                            Back-end sur les
                            tests unitaires et l'industrialisation tout cela en orienté objet, sans oublier la
                            mise
                            en place de
                            Docstring.</p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/pythonlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/postgresql-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                            <img class="logo" src="{% static 'images/jenkins.png' %}" alt="">


                        </div>
                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card2">
                    <img class="card-image" src="{% static 'images/meteo.png' %}" alt="">
                    <div class="card-content">
                        <p>Cette Application interroge l'API météo d'openweathermap. L'utilisateur entre un nom de
                            ville,
                            ce qui
                            envoie une requête AJAX au serveur PHP, qui interroge l'API OpenWeatherMap.
                            Ensuite elle filtre la réponse afin d'avoir seulement certaines données sur 3 jours (
                            temperature,
                            ressentis, météo ...) Puis ces données sont affichés sur la page web sans rechargement.
                            Cette application est programmée en mode objet et contient des docstrings. </p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/phplogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">


                        </div>
                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card1">
                    <img class="card-image" src="{% static 'images/simulateur.png' %}" alt="">
                    <div class="card-content">
                        <p>Afin de m'exercer sur Javascript, j'ai créer un simulateur d'épidemie. Le principe est
                            simple,
                            l'utilisateur entre un nombre de paramètre, taille du tableau, nombre de personnes( saine,
                            porteuse
                            saines, malade) et le niveau de contamination.
                            Une fois l'application lancée, l'utilisateur peut voir les personnes bouger de cases en
                            cases et se
                            contaminé ou non, avec des statistiques évoluants en temps réelle.
                        </p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">


                        </div>
                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card2">
                    <img class="card-image" src="{% static 'images/ecolead.png' %}" alt="">
                    <div class="card-content">
                        <p>Ce serious game est une application mobile nous mettant dans le rôle d'un président devant
                            faire des
                            choix afin de gérer les déréglements climatiques. Ces choix influent sur l'économie,
                            l'écologie et
                            le bonheur de la population. Cela m'a permis de découvrir Angular et Type-script, j'ai pu
                            travailler
                            autant sur le Back-end que le front pendant que mes deux camarades se sont occupé des
                            documents de
                            gestions de projets </p>
                        <div class="logos">
                            <img class="logo" src="{% static 'images/angularlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/typescriptlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/materiallogo.png' %}" alt="">
                        </div>
                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card1">
                    <img class="card-image" src="{% static 'images/lightshot.png' %}" alt="">
                    <div class="card-content">
                        <p>Après avoir créer une application de web-scrapping d'images sur un site de partage d'image,
                            notre
                            promotion s'est amusée a faire une application web permettant aux utilisateurs de noter les
                            images
                            récupérées et d'avoir accès au classement de celles-ci. je me suis occupée de la gestion de
                            la base
                            de donnée. </p>
                        <div class="logos">
                            <img class="logo" src="{% static 'images/codeigniterlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                            <img class="logo" src="{% static 'images/csharp.png' %}" alt="">
                            <img class="logo" src="{% static 'images/logosql.png' %}" alt="">
                        </div>
                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>





            </div>

            <h1 id="portfolio-title">Mes différents Portfolios</h1>
            <p class="title-content">Au fur et a mesures de ma découverte des différentes technolgies, j'ai pu créer
                différents
                portfolio afin de
                m'exercer sur différents frameworks ou librairie</p>

            <div class="cards">
                <div class="card1">
                    <img class="card-image" src="{% static 'images/portfolio1.png' %}" alt="">
                    <div class="card-content">
                        <p>Après avoir été initié au HTML/CSS, j'ai commencé à faire un PortFolio afin de continuer a
                            monter en
                            compétences sur ces technologies.
                            Cette Application web m'a permis de m'initier au Javascript. Ce portfolio n'utilise aucune
                            librairie
                            ni framework. </p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">



                        </div>
                        <a href="https://github.com/samuwrob/1st-portfolio">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card2">
                    <img class="card-image" src="{% static 'images/portfolio2.png' %}" alt="">
                    <div class="card-content">
                        <p>Après avoir découvert CodeIgniter, j'ai décidé de recréer un portfolio, afin de monter en
                            compétence
                            sur PHP et ses framework, ainsi que sur Bootstrap.
                            J'ai intégré une base de donnée afin de pouvoir recueillir des messages et afficher les
                            recommandations des utilisateurs.
                        </p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/phplogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                            <img class="logo" src="{% static 'images/codeigniterlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/bootstraplogo.png' %}" alt="">


                        </div>
                        <a href="https://github.com/samuwrob/Portfoliofevrier">
                            <div class="buttongit">Le git</div>
                        </a>
                    </div>
                </div>
                <div class="card1">
                    <img class="card-image" src="{% static 'images/simulateur.png' %}" alt="">
                    <div class="card-content">

                        <p>Après m'être initié a Django, pour j'ai décidé de refaire un portfolio.Afin de monter en
                            compétence
                            sur Python, et mettre en pratique le scss que j'ai découvert recemment.
                            Ce site étant en ligne, il risque d'évoluer avec le temps.
                            Afin de créer un site éco-responsable, j'ai fait le choix d'utiliser le moins de framework
                            possible.

                        </p>

                        <div class="logos">
                            <img class="logo" src="{% static 'images/pythonlogo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                            <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                        </div>


                        <a href="https://gitlab.com/baml1/baml">
                            <div class="buttongit">Le git</div>
                        </a>

                    </div>
                </div>

            </div>

















            <!--





            <h1>Effet Scroll</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            </p>
            <figure>
                <img src="{% static 'images/logoCV.png' %}" alt="" class="logoCV">
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla harum hic tenetur nam
                architecto ullam ducimus ab, cum autem tempora id quam quis, ut tempore atque repudiandae totam dolore.
            <figure>
                <img src="{% static 'images/logoCV.png' %}" alt="" class="logoCV">
            </figure>
            </p>


            <div class="container">
                <div id="card1">
                    <div class="card">

                        <div class="face face1">
                            <div class="content">
                                <div class="icon">

                                    <h1>Best Algorythm Machine Learning</h1>
                                    <div class="logos">
                                        <img class="logo" src="{% static 'images/pythonlogo.png' %}" alt="">
                                        <img class="logo" src="{% static 'images/postgresql-logo.png' %}" alt="">
                                        <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                        <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                        <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                        <img class="logo" src="{% static 'images/jenkins.png' %}" alt="">
                                    </div>
                                    <a href="https://gitlab.com/baml1/baml">
                                        <div class="buttongit">Le git</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <h3>

                                </h3>
                                <p>Création d'une application Web permettant de faire des prédictions grâce a
                                    l'Intelligence
                                    Artificielle de la librairie de ScikitLearn (Python) à partir d'un jet de donné en
                                    CSV.
                                    Ce projet est mis en place sur le framework Django du language python, et est basé
                                    sur
                                    méthodologie
                                    Agile / Scrum .J'ai travaillé en Front-end sur la création du site web, ainsi qu'en
                                    Back-end sur les
                                    tests unitaires et l'industrialisation tout cela en orienté objet, sans oublier la
                                    mise
                                    en place de
                                    Docstring. </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <h1>API Météo</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/phplogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                </div>
                                <a href="https://gitlab.com/samuwrob/meteo-wedogood">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">

                            <p>Cette Application interroge l'API météo d'openweathermap. L'utilisateur entre un nom de
                                ville, ce qui
                                envoie une requête AJAX au serveur PHP, qui interroge l'API OpenWeatherMap.
                                Ensuite elle filtre la réponse afin d'avoir seulement certaines données sur 3 jours (
                                temperature,
                                ressentis, météo ...) Puis ces données sont affichés sur la page web sans rechargement.
                                Cette application est programmée en mode objet et contient des docstrings. </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <h1>Simulateur d'épidemie</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                </div>
                                <a href="https://github.com/samuwrob/Simulateur-epidemie">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">

                            <p>Afin de m'exercer sur Javascript, j'ai créer un simulateur d'épidemie. Le principe est
                                simple,
                                l'utilisateur entre un nombre de paramètre, taille du tableau, nombre de personnes(
                                saine, porteuse
                                saines, malade) et le niveau de contamination.
                                Une fois l'application lancée, l'utilisateur peut voir les personnes bouger de cases en
                                cases et se
                                contaminé ou non, avec des statistiques évoluants en temps réelle.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">

                                <h1>EcoLead</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/angularlogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/typescriptlogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/materiallogo.png' %}" alt="">
                                </div>
                                <a href="https://github.com/KilliannH/Ecolead">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>

                            </h3>
                            <p>Ce serious game est une application mobile nous mettant dans le rôle d'un président
                                devant faire des
                                choix afin de gérer les déréglements climatiques. Ces choix influent sur l'économie,
                                l'écologie et
                                le bonheur de la population. Cela m'a permis de découvrir Angular et Type-script, j'ai
                                pu travailler
                                autant sur le Back-end que le front pendant que mes deux camarades se sont occupé des
                                documents de
                                gestions de projets </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <h1>LightShotGame</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/codeigniterlogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                    <img class="logo" src="{% static 'images/csharp.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/logosql.png' %}" alt="">
                                </div>
                                <a href="https://gitlab.com/Para-FR/lightshotgame">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">

                            <p>Après avoir créer une application de web-scrapping d'images sur un site de partage
                                d'image, notre
                                promotion s'est amusée a faire une application web permettant aux utilisateurs de noter
                                les images
                                récupérées et d'avoir accès au classement de celles-ci. je me suis occupée de la gestion
                                de la base
                                de donnée. </p>
                        </div>
                    </div>
                </div>

            </div>

            <h1 id="portfolio-title">Mes différents Portfolios</h1>
            <p class="title-content">Au fur et a mesures de ma découverte des différentes technolgies, j'ai pu créer
                différents
                portfolio afin de
                m'exercer sur différents frameworks ou librairie</p>


            <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">

                                <h1>1er PortFolio</h1>
                                <div class="logos">

                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">

                                </div>
                                <a href="https://github.com/samuwrob/1st-portfolio">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>

                            </h3>
                            <p>Après avoir été initié au HTML/CSS, j'ai commencé à faire un PortFolio afin de continuer
                                a monter en
                                compétences sur ces technologies.
                                Cette Application web m'a permis de m'initier au Javascript. Ce portfolio n'utilise
                                aucune librairie
                                ni framework. </p>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <h1>2eme PortFolio</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/phplogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                    <img class="logo" src="{% static 'images/codeigniterlogo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/bootstraplogo.png' %}" alt="">
                                </div>
                                <a href="https://github.com/samuwrob/Portfoliofevrier">
                                    <div class="buttongit">Le git</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">

                            <p>Après avoir découvert CodeIgniter, j'ai décidé de recréer un portfolio, afin de monter en
                                compétence
                                sur PHP et ses framework, ainsi que sur Bootstrap.
                                J'ai intégré une base de donnée afin de pouvoir recueillir des messages et afficher les
                                recommandations des utilisateurs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <h1>Ce portfolio</h1>
                                <div class="logos">
                                    <img class="logo" src="{% static 'images/HTML5-logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/CSS-Logo.png' %}" alt="">
                                    <img class="logo" src="{% static 'images/js-logo.webp' %}" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">

                            <p>Après m'être initié a Django, pour j'ai décidé de refaire un portfolio.Afin de monter en
                                compétence
                                sur Python, et mettre en pratique le scss que j'ai découvert recemment.
                                Ce site étant en ligne, il risque d'évoluer avec le temps.
                                Afin de créer un site éco-responsable, j'ai fait le choix d'utiliser le moins de
                                framework possible.
                                <br>
                                TODO : responsive, améliorer les animations, ajouter formulaire de contact.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
<script type="text/javascript" src="{% static 'js/test.js' %}"></script>

-->