.background {
    //background-color: antiquewhite;
    padding-top: 5rem;

    padding-bottom: 5rem;


    .apropos {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;



        .apropos-image {
            max-height: 20rem;
            margin: 2rem;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }


        // image
        .zoom {

            width: 260px;
            height: 400px;

        }


        img {
            /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
            -webkit-transition: all 1s ease;
            /* Safari et Chrome */
            -moz-transition: all 1s ease;
            /* Firefox */
            -ms-transition: all 1s ease;
            /* Internet Explorer 9 */
            -o-transition: all 1s ease;
            /* Opera */
            transition: all 1s ease;
        }

        .image:hover img {
            /* L'image est grossie de 25% */
            -webkit-transform: scale(1.25);
            /* Safari et Chrome */
            -moz-transform: scale(1.25);
            /* Firefox */
            -ms-transform: scale(1.25);
            /* Internet Explorer 9 */
            -o-transform: scale(1.25);
            /* Opera */
            transform: scale(1.25);
        }



        //animation texte
        .apropos-content {

            font-size: larger;
            font-family: 'Oxygen Mono', monospace;
        }


        h2 {
            max-width: 50%;
            font-size: 30pt;
            margin-bottom: 15px;
        }

        p {
            text-align: left;
            margin: 0;
            text-transform: normal;
            font-size: 10pt;
            font-weight: 900;
            width: 100%;
            display: none;
        }

        #table {
            display: table;
            width: 70%;
            height: 100%;

        }

        #centeralign {
            display: table-cell;
            vertical-align: middle;
        }




    }



    .buttons {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;

        .button1,
        .button2 {
            background: none;
            border: 2px solid;
            border-radius: 5rem;
            transition: 0.25s;
            line-height: 1;
            margin: 0.5em;
            padding: 1em 2em;
        }

        .button1:hover,
        .button2:hover {
            border-color: aquamarine;
            color: aquamarine;
        }




        a {
            width: 4rem;

            .logoCV {
                width: 4rem
            }
        }
    }

    #competences-container {
        padding-top: 3rem;
        display: none;



    }

    .slide-right {
        animation: slide-right .7s ease;

    }

    .slide-left {
        animation: slide-left .7s ease;
    }

    .slide-right-end {
        animation: slide-left-end .7s ease;
    }


    @keyframes slide-right {
        0% {
            transform: skewX(53deg) translateX(-500px);
        }

        100% {
            transform: skew(0deg)
        }

    }

    @keyframes slide-right-end {
        0% {
            transform: skew(0deg)
        }

        100% {

            transform: skewX(53deg) translateX(-500px);
        }

    }

    @keyframes slide-left {
        0% {
            transform: skewX(53deg) translateX(500px);
        }

        100% {
            transform: skew(0deg)
        }

    }



    .competences-title {
        text-align: center;
    }

    .competences-contents {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    #experience-container {
        background-color: grey;
        display: none;
        overflow: auto;
        max-height: 50vh;
        max-width: 80%;
        flex-direction: column;
        align-items: center;
        margin: 20vh;
        padding-bottom: 5rem;

        .experience-title {
            padding: 2rem;
        }

        hr {
            align-self: center;
            width: 50%;
            margin: 1rem 0;
        }
    }


}