body {
    margin: 0;
    padding: 0;

}

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 10px;

    max-width: 1200px;


}

hr {
    background-color: #b0afaf;
    color: #fff;
}


.navbarre {
    background-color: rgba(8, 200, 82, 0.637);
    display: flex;
    position: fixed;
    margin-bottom: 5rem;

    flex-direction: row;
    justify-content: space-around;
    min-height: 4rem;
    align-items: center;
    width: 100%;
    z-index: 10;

    .logo-nav {
        margin-right: auto;
        font-size: 2.2rem;
        margin-left: 1.5rem;
    }

    .menu-buttons {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 4rem;
        align-items: center;
        margin-right: 4rem;



        div {
            margin-right: 3rem;
        }
    }


    a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        margin: 10px;
    }




}

@media(max-width: 1080px) {

    .wrapper {
        display: block;
        margin: 0 auto;
        padding: 10px;

        max-width: 1200px;


    }

    hr {
        background-color: #b0afaf;
        color: #fff;
    }


    .navbarre {
        background-color: rgba(8, 200, 82, 0.637);
        display: flex;
        position: fixed;
        margin-bottom: 5rem;

        flex-direction: row;
        justify-content: space-around;
        min-height: 4rem;
        align-items: center;
        width: 100%;
        z-index: 10;

        .logo-nav {
            margin-right: auto;
            font-size: 2.2rem;
            margin-left: 1.5rem;
        }

        .menu-buttons {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            min-height: 4rem;
            align-items: center;
            margin-right: 4rem;



            div {
                margin-right: 3rem;
            }
        }


        a {
            text-decoration: none;
            color: black;
            font-size: 25px;
            margin: 10px;
        }




    }


}