.presentation {
    display: flex;

    opacity: 0.70;

    flex-direction: column;
    min-height: 5rem;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;


    .presentation-content {
        align-self: center;
        justify-self: center;
        opacity: 1;
    }

    .arrow {
        padding-top: 5rem;
        max-width: 5rem;
    }

    hr {
        overflow-y: visible;
    }


    h1 {
        font-size: 60px;
        text-align: center;
    }

    .content-slider {
        width: 100%;
        height: 10rem;
    }

    .slider {
        height: 10rem;
        width: 680px;
        margin: 40px auto 0;
        overflow: visible;
        position: relative;
    }

    .mask {
        overflow: hidden;
        height: 10rem;
    }

    .slider ul {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .slider li {
        text-align: center;
        width: 680px;
        height: 10rem;
        position: absolute;
        top: -325px;
        list-style: none;
    }

    .slider .quote {
        font-size: 40px;
        font-style: italic;
    }

    .slider .source {
        font-size: 20px;
        text-align: right;
    }

    .slider li.anim1 {
        animation: cycle 15s linear infinite;
    }

    .slider li.anim2 {
        animation: cycle2 15s linear infinite;
    }

    .slider li.anim3 {
        animation: cycle3 15s linear infinite;
    }

    .slider li.anim4 {
        animation: cycle4 15s linear infinite;
    }

    .slider li.anim5 {
        animation: cycle5 15s linear infinite;
    }

    .slider:hover li {
        animation-play-state: paused;
    }

    @keyframes cycle {
        0% {
            top: 0px;
        }

        4% {
            top: 0px;
        }

        16% {
            top: 0px;
            opacity: 1;
            z-index: 0;
        }

        20% {
            top: 325px;
            opacity: 0;
            z-index: 0;
        }

        21% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }

        50% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }

        92% {
            top: -325px;
            opacity: 0;
            z-index: 0;
        }

        96% {
            top: -325px;
            opacity: 0;
        }

        100% {
            top: 0px;
            opacity: 1;
        }
    }

    @keyframes cycle2 {
        0% {
            top: -325px;
            opacity: 0;
        }

        16% {
            top: -325px;
            opacity: 0;
        }

        20% {
            top: 0px;
            opacity: 1;
        }

        24% {
            top: 0px;
            opacity: 1;
        }

        36% {
            top: 0px;
            opacity: 1;
            z-index: 0;
        }

        40% {
            top: 325px;
            opacity: 0;
            z-index: 0;
        }

        41% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }

        100% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes cycle3 {
        0% {
            top: -325px;
            opacity: 0;
        }

        36% {
            top: -325px;
            opacity: 0;
        }

        40% {
            top: 0px;
            opacity: 1;
        }

        44% {
            top: 0px;
            opacity: 1;
        }

        56% {
            top: 0px;
            opacity: 1;
            z-index: 0;
        }

        60% {
            top: 325px;
            opacity: 0;
            z-index: 0;
        }

        61% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }

        100% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes cycle4 {
        0% {
            top: -325px;
            opacity: 0;
        }

        56% {
            top: -325px;
            opacity: 0;
        }

        60% {
            top: 0px;
            opacity: 1;
        }

        64% {
            top: 0px;
            opacity: 1;
        }

        76% {
            top: 0px;
            opacity: 1;
            z-index: 0;
        }

        80% {
            top: 325px;
            opacity: 0;
            z-index: 0;
        }

        81% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }

        100% {
            top: -325px;
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes cycle5 {
        0% {
            top: -325px;
            opacity: 0;
        }

        76% {
            top: -325px;
            opacity: 0;
        }

        80% {
            top: 0px;
            opacity: 1;
        }

        84% {
            top: 0px;
            opacity: 1;
        }

        96% {
            top: 0px;
            opacity: 1;
            z-index: 0;
        }

        100% {
            top: 325px;
            opacity: 0;
            z-index: 0;
        }
    }


}