.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    .card1 {
        background-color: #c7f9ccff;
        ;
        display: flex;
        height: 15rem;
        width: 80%;
        margin-bottom: 2rem;
        align-self: flex-end;

        border: 2px solid;


        text-align: center;

        justify-content: flex-start;
    }

    .card2 {
        background-color: #c7f9ccff;
        ;
        display: flex;
        height: 15rem;
        width: 80%;
        margin-bottom: 2rem;
        align-self: flex-start;

        border: 2px solid;


        text-align: center;

        justify-content: flex-start;
    }

    .card-image {

        height: 15rem;
        width: 20rem;


    }

    .card-image:hover {
        height: 50%;
        width: 50%;
        position: absolute;
        -webkit-transition: all 1s ease;
        /* Safari and Chrome */
        -moz-transition: all 1s ease;
        /* Firefox */
        -ms-transition: all 1s ease;
        /* IE 9 */
        -o-transition: all 1s ease;
        /* Opera */
        transition: all 1s ease;

    }

    .card-content {
        padding: 1rem
    }

    .logos {
        display: flex;
        flex-direction: row-reverse;

        width: 70%;
        float: right;

        .logo {

            width: 3rem;
            height: 3rem;

        }
    }


}



.buttongit {
    border: 2px solid;
    border-radius: 5rem;
    transition: 0.25s;
    margin: 0.5em;
    padding: 0.5em 1em;
    max-width: 3rem;
    max-height: 1rem;
    float: left;
}

.buttongit:hover {
    border-color: #57cc99ff;
    color: #57cc99ff;
}




@media(max-width: 1080px) {

    .wrapper {
        max-width: 800px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: small;
        flex-wrap: wrap;

        .card1,
        .card2 {
            background-color: #c7f9ccff;

            flex-direction: column;
            height: 450px;
            width: 300px;
            border: 2px solid;
            text-align: center;

            margin: 1rem;

            justify-content: center;
        }

        .card-image {

            height: 10rem;
            width: 10rem;
            align-self: center;

        }

        .card-image:hover {
            height: 30rem;
            width: 30rem;
            position: relative;
            z-index: 50;
            -webkit-transition: all 0.1s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.1s ease;
            /* Firefox */
            -ms-transition: all 0.1s ease;
            /* IE 9 */
            -o-transition: all 0.1s ease;
            /* Opera */
            transition: all 0.1s ease;


        }


        .logos {
            display: flex;
            flex-direction: row-reverse;

            width: 70%;
            float: right;

            .logo {

                width: 1.5rem;
                height: 1.5rem;

            }
        }


    }

    .buttongit {
        font-size: small;
        border: 2px solid;
        border-radius: 5rem;
        transition: 0.25s;
        margin: 0.5em;
        padding: 1px 2px;
        max-width: 3rem;
        float: left;
    }

}



@media(max-width: 720px) {

    .wrapper {
        max-width: 800px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: small;
        flex-wrap: wrap;

        .card1,
        .card2 {
            background-color: #c7f9ccff;

            flex-direction: column;
            height: 450px;
            width: 300px;
            border: 2px solid;
            text-align: center;

            margin: 1rem;

            justify-content: center;
        }

        .card-image {

            height: 10rem;
            width: 10rem;
            align-self: center;

        }


        .logos {
            display: flex;
            flex-direction: row-reverse;

            width: 70%;
            float: right;

            .logo {

                width: 1.5rem;
                height: 1.5rem;

            }
        }


    }

    .buttongit {
        font-size: small;
        border: 2px solid;
        border-radius: 5rem;
        transition: 0.25s;
        margin: 0.5em;
        padding: 1px 2px;
        max-width: 3rem;
        float: left;
    }

}