@charset "UTF-8";
.presentation {
  display: flex;
  opacity: 0.70;
  flex-direction: column;
  min-height: 5rem;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .presentation .presentation-content {
    align-self: center;
    justify-self: center;
    opacity: 1; }
  .presentation .arrow {
    padding-top: 5rem;
    max-width: 5rem; }
  .presentation hr {
    overflow-y: visible; }
  .presentation h1 {
    font-size: 60px;
    text-align: center; }
  .presentation .content-slider {
    width: 100%;
    height: 10rem; }
  .presentation .slider {
    height: 10rem;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative; }
  .presentation .mask {
    overflow: hidden;
    height: 10rem; }
  .presentation .slider ul {
    margin: 0;
    padding: 0;
    position: relative; }
  .presentation .slider li {
    text-align: center;
    width: 680px;
    height: 10rem;
    position: absolute;
    top: -325px;
    list-style: none; }
  .presentation .slider .quote {
    font-size: 40px;
    font-style: italic; }
  .presentation .slider .source {
    font-size: 20px;
    text-align: right; }
  .presentation .slider li.anim1 {
    animation: cycle 15s linear infinite; }
  .presentation .slider li.anim2 {
    animation: cycle2 15s linear infinite; }
  .presentation .slider li.anim3 {
    animation: cycle3 15s linear infinite; }
  .presentation .slider li.anim4 {
    animation: cycle4 15s linear infinite; }
  .presentation .slider li.anim5 {
    animation: cycle5 15s linear infinite; }
  .presentation .slider:hover li {
    animation-play-state: paused; }
@keyframes cycle {
  0% {
    top: 0px; }
  4% {
    top: 0px; }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }
@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0; }
  16% {
    top: -325px;
    opacity: 0; }
  20% {
    top: 0px;
    opacity: 1; }
  24% {
    top: 0px;
    opacity: 1; }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0; }
  36% {
    top: -325px;
    opacity: 0; }
  40% {
    top: 0px;
    opacity: 1; }
  44% {
    top: 0px;
    opacity: 1; }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0; }
  56% {
    top: -325px;
    opacity: 0; }
  60% {
    top: 0px;
    opacity: 1; }
  64% {
    top: 0px;
    opacity: 1; }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0; }
  76% {
    top: -325px;
    opacity: 0; }
  80% {
    top: 0px;
    opacity: 1; }
  84% {
    top: 0px;
    opacity: 1; }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0; } }
body {
  margin: 0;
  padding: 0; }

.wrapper {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px; }

hr {
  background-color: #b0afaf;
  color: #fff; }

.navbarre {
  background-color: rgba(8, 200, 82, 0.637);
  display: flex;
  position: fixed;
  margin-bottom: 5rem;
  flex-direction: row;
  justify-content: space-around;
  min-height: 4rem;
  align-items: center;
  width: 100%;
  z-index: 10; }
  .navbarre .logo-nav {
    margin-right: auto;
    font-size: 2.2rem;
    margin-left: 1.5rem; }
  .navbarre .menu-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 4rem;
    align-items: center;
    margin-right: 4rem; }
    .navbarre .menu-buttons div {
      margin-right: 3rem; }
  .navbarre a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 10px; }

@media (max-width: 1080px) {
  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px; }

  hr {
    background-color: #b0afaf;
    color: #fff; }

  .navbarre {
    background-color: rgba(8, 200, 82, 0.637);
    display: flex;
    position: fixed;
    margin-bottom: 5rem;
    flex-direction: row;
    justify-content: space-around;
    min-height: 4rem;
    align-items: center;
    width: 100%;
    z-index: 10; }
    .navbarre .logo-nav {
      margin-right: auto;
      font-size: 2.2rem;
      margin-left: 1.5rem; }
    .navbarre .menu-buttons {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      min-height: 4rem;
      align-items: center;
      margin-right: 4rem; }
      .navbarre .menu-buttons div {
        margin-right: 3rem; }
    .navbarre a {
      text-decoration: none;
      color: black;
      font-size: 25px;
      margin: 10px; } }
.background {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .background .apropos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    .background .apropos .apropos-image {
      max-height: 20rem;
      margin: 2rem;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
    .background .apropos .zoom {
      width: 260px;
      height: 400px; }
    .background .apropos img {
      /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
      -webkit-transition: all 1s ease;
      /* Safari et Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* Internet Explorer 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease; }
    .background .apropos .image:hover img {
      /* L'image est grossie de 25% */
      -webkit-transform: scale(1.25);
      /* Safari et Chrome */
      -moz-transform: scale(1.25);
      /* Firefox */
      -ms-transform: scale(1.25);
      /* Internet Explorer 9 */
      -o-transform: scale(1.25);
      /* Opera */
      transform: scale(1.25); }
    .background .apropos .apropos-content {
      font-size: larger;
      font-family: 'Oxygen Mono', monospace; }
    .background .apropos h2 {
      max-width: 50%;
      font-size: 30pt;
      margin-bottom: 15px; }
    .background .apropos p {
      text-align: left;
      margin: 0;
      text-transform: normal;
      font-size: 10pt;
      font-weight: 900;
      width: 100%;
      display: none; }
    .background .apropos #table {
      display: table;
      width: 70%;
      height: 100%; }
    .background .apropos #centeralign {
      display: table-cell;
      vertical-align: middle; }
  .background .buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; }
    .background .buttons .button1,
    .background .buttons .button2 {
      background: none;
      border: 2px solid;
      border-radius: 5rem;
      transition: 0.25s;
      line-height: 1;
      margin: 0.5em;
      padding: 1em 2em; }
    .background .buttons .button1:hover,
    .background .buttons .button2:hover {
      border-color: aquamarine;
      color: aquamarine; }
    .background .buttons a {
      width: 4rem; }
      .background .buttons a .logoCV {
        width: 4rem; }
  .background #competences-container {
    padding-top: 3rem;
    display: none; }
  .background .slide-right {
    animation: slide-right .7s ease; }
  .background .slide-left {
    animation: slide-left .7s ease; }
  .background .slide-right-end {
    animation: slide-left-end .7s ease; }
@keyframes slide-right {
  0% {
    transform: skewX(53deg) translateX(-500px); }
  100% {
    transform: skew(0deg); } }
@keyframes slide-right-end {
  0% {
    transform: skew(0deg); }
  100% {
    transform: skewX(53deg) translateX(-500px); } }
@keyframes slide-left {
  0% {
    transform: skewX(53deg) translateX(500px); }
  100% {
    transform: skew(0deg); } }
  .background .competences-title {
    text-align: center; }
  .background .competences-contents {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap; }
  .background #experience-container {
    background-color: grey;
    display: none;
    overflow: auto;
    max-height: 50vh;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 20vh;
    padding-bottom: 5rem; }
    .background #experience-container .experience-title {
      padding: 2rem; }
    .background #experience-container hr {
      align-self: center;
      width: 50%;
      margin: 1rem 0; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .cards .card1 {
    background-color: #c7f9ccff;
    display: flex;
    height: 15rem;
    width: 80%;
    margin-bottom: 2rem;
    align-self: flex-end;
    border: 2px solid;
    text-align: center;
    justify-content: flex-start; }
  .cards .card2 {
    background-color: #c7f9ccff;
    display: flex;
    height: 15rem;
    width: 80%;
    margin-bottom: 2rem;
    align-self: flex-start;
    border: 2px solid;
    text-align: center;
    justify-content: flex-start; }
  .cards .card-image {
    height: 15rem;
    width: 20rem; }
  .cards .card-image:hover {
    height: 50%;
    width: 50%;
    position: absolute;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease; }
  .cards .card-content {
    padding: 1rem; }
  .cards .logos {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    float: right; }
    .cards .logos .logo {
      width: 3rem;
      height: 3rem; }

.buttongit {
  border: 2px solid;
  border-radius: 5rem;
  transition: 0.25s;
  margin: 0.5em;
  padding: 0.5em 1em;
  max-width: 3rem;
  max-height: 1rem;
  float: left; }

.buttongit:hover {
  border-color: #57cc99ff;
  color: #57cc99ff; }

@media (max-width: 1080px) {
  .wrapper {
    max-width: 800px; }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-wrap: wrap; }
    .cards .card1,
    .cards .card2 {
      background-color: #c7f9ccff;
      flex-direction: column;
      height: 450px;
      width: 300px;
      border: 2px solid;
      text-align: center;
      margin: 1rem;
      justify-content: center; }
    .cards .card-image {
      height: 10rem;
      width: 10rem;
      align-self: center; }
    .cards .card-image:hover {
      height: 30rem;
      width: 30rem;
      position: relative;
      z-index: 50;
      -webkit-transition: all 0.1s ease;
      /* Safari and Chrome */
      -moz-transition: all 0.1s ease;
      /* Firefox */
      -ms-transition: all 0.1s ease;
      /* IE 9 */
      -o-transition: all 0.1s ease;
      /* Opera */
      transition: all 0.1s ease; }
    .cards .logos {
      display: flex;
      flex-direction: row-reverse;
      width: 70%;
      float: right; }
      .cards .logos .logo {
        width: 1.5rem;
        height: 1.5rem; }

  .buttongit {
    font-size: small;
    border: 2px solid;
    border-radius: 5rem;
    transition: 0.25s;
    margin: 0.5em;
    padding: 1px 2px;
    max-width: 3rem;
    float: left; } }
@media (max-width: 720px) {
  .wrapper {
    max-width: 800px; }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-wrap: wrap; }
    .cards .card1,
    .cards .card2 {
      background-color: #c7f9ccff;
      flex-direction: column;
      height: 450px;
      width: 300px;
      border: 2px solid;
      text-align: center;
      margin: 1rem;
      justify-content: center; }
    .cards .card-image {
      height: 10rem;
      width: 10rem;
      align-self: center; }
    .cards .logos {
      display: flex;
      flex-direction: row-reverse;
      width: 70%;
      float: right; }
      .cards .logos .logo {
        width: 1.5rem;
        height: 1.5rem; }

  .buttongit {
    font-size: small;
    border: 2px solid;
    border-radius: 5rem;
    transition: 0.25s;
    margin: 0.5em;
    padding: 1px 2px;
    max-width: 3rem;
    float: left; } }
/*@import "test.scss"; */

/*# sourceMappingURL=style.css.map */
